body {
  font-family: Montserrat;
  background-color: #f9f9f9;
}

.border {
  border: solid 2px red;
}

.gear-button{
  background-color:#717171; 
}

.main-content {
  background-color: #f9f9f9;
}

.side-menu {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.170509);
  z-index: 1;
}

.navbar {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.170509);
  z-index: 1;
}

.wrapper {
  display: flex;
  width: 100%;
}

.profile-pic-sm{
  width: 30px;
  height: 30px;
  box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.235413);
}

.text-sm {
  font-size: 14px;
}

.text-smallest {
  font-size: 11px;
}

.product-img{
  min-width:150px;
  min-height:150px;
  background: url("./assets/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  
  background-position: center;
}

.filter-divider{
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #D6D6D6;
}

@media (min-width: 800px){
  #filtersColumn{
    max-width: 300px;
  }
  .product-info{
    max-width: 200px;
  }
}

@media (min-width:1000px){
  .product-img{
    max-width: 200px;
  }
}

@media (max-width:1000px){
  .product-img{
    min-height: 300px;
  }
}

.border-0{
  border: 0;
}